# Laravel
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env                          # ← Ne jamais partager les vrais .env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Base de données
database/database.sqlite      # ← Ne pas partager la DB avec données

# Logs
storage/logs/
